.projectPhoto:hover {
	cursor: pointer;
}
.pageOverlay {
	background: black; 
	opacity: .6; 
	width: 100%;
	height: 100vh;
	position: fixed; 
	top: 0;
	left: 0;
}
.projectSlideShow {
	width: 50%;
	max-height: 400px;
	border: 1px solid white;
	border-radius: 5%;
	margin: auto;
	position: fixed;
	top: 23%;
	left: 50%;
	transform: translate(-50%);
	overflow: hidden;
}
.slideShowButton {
	position: fixed;
	top: 50%;
	right: 5%;
	transform: translate(-50%);
	background: transparent;
	border: none;
}
.javascriptIcon {
	width: 50px;
	height: 50px;
	opacity: .6;
}
.javascriptIcon:hover {
	cursor: pointer;
}
.exit {
	position: fixed;
	top: 5%;
	right: 5%;
	background: transparent;
	border: none;	
}