* {
	box-sizing: border-box;
	margin: 0; 
	font-family: 'Avenir', sans-serif;
}
a {
	text-decoration: none; 
}
a:visited {
	color: inherit; 
}
body {
	margin: 0; 
	padding: 0; 
}
.topHeader {
	width: 100%;
	height: 50px;
	background: rgb(235,181,26);
	position: relative;
}
.companyInfo {
	font-size: 1em;
	color: white;
	margin-left: 50%;
}
.topMenuBar {
	width: 60%;
	background: white;
	padding: .75%;
	text-align: center; 
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translate(-50%);
	box-shadow: 1px 1px 1px black;
}
#logo {
	width: 5%;
	vertical-align: middle;
	transform: rotateY(180deg);
}
.navBar {
	display: inline;
}
.navBar li {
	display: inline;
	padding: 5px;
	font-size: .9em;
	color: gray; 
	margin: auto;
}
.navBar li:hover {
	cursor: pointer; 
	color: black; 
	font-weight: bold; 
}
.imgContainer {
	width: 100%;
	height: 60vh;
	overflow: hidden;
}
.overlay {
	background: black; 
	opacity: .4; 
	width: 100%;
	height: 60vh;
	position: absolute;
	top: 50px; 
	left: 0;  
}
.imgContainer-NonHomePage {
	width: 100%;
	height: 400px;
	overflow: hidden;
	/*background: url("../images/bardo1.jpg");*/
	/* background-image: url("../images/wroughIronFencingHeaderImg.jpg"); */
}
.overlay-NonHomePage {
	background: black; 
	opacity: .4; 
	width: 100%;
	height: 400px;
	position: absolute;
	top: 50px; 
	left: 0;  
}
.introText-NonHomePage {
	position: absolute;
	left: 50%;
	top: 20%; 
	font-size: 2em;
	width: 40%;
	color: white;
	opacity: .9;  
	font-weight: bold; 
	transform: translateX(-50%);
	text-align: center; 
	text-shadow: 1px 1px 1px black;
}
.ctaButton-NonHomePage {
	border-radius: 2.5%;
	color: white; 
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	font-size: 1.5em; 
	padding: 2%; 
	border: 3px solid white;
}
.ctaButton-NonHomePage:hover {
	color: rgb(88,176,236); 
	cursor: pointer;
	border: 3px solid rgb(88,176,236);
}
img {
	width: 100%;
	display: inline-block;
}
.introText {
	position: absolute;
	left: 50%;
	top: 25%; 
	font-size: 2em;
	width: 40%;
	color: white;
	opacity: .9;  
	font-weight: bold; 
	transform: translateX(-50%);
	text-align: center; 
	text-shadow: 1px 1px 1px black;
}

.ctaButton {
	border-radius: 2.5%;
	color: white; 
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	font-size: 1.5em; 
	padding: 2%;
	border: 3px solid white;
}
.ctaButton:hover {
	color: rgb(88,176,236); 
	cursor: pointer;
	border: 3px solid rgb(88,176,236);
}
/*Image Projects Container*/
.mainContainer {
	width: 90%;
	text-align: center; 
	margin: 6% auto;
}
.project {
	width: 25%; 
	margin: 2%;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	position: relative;
	border-radius: 5%; 
	max-height: 300px;
}
.projectImage {
	width: 100%; 
	vertical-align: middle;
}
.projectOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .25; 
}
.projectDescription {
	font-size: 1.2em;
	color: white; 
	position: absolute;
	top: 45%;
	left: 50%;
	width: 70%;
	transform: translateX(-50%);
	text-shadow: 2px 2px 2px black;
	visibility: hidden;
}
.project:hover {
	cursor: pointer;
}
.project:hover > .projectDescription{
	visibility: visible;
	cursor: pointer; 
}
.projectButton {
	border-radius: 5%;
	color: rgb(88,176,236);
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;  
	font-size: .9em; 
	padding: 2%; 
	border: 1px solid rgb(88,176,236);
	visibility: hidden; 
}
.project:hover > .projectButton{
	visibility: visible;
	cursor: pointer; 
}
.projectButton:hover {
	font-size: 1em;
	color: white;
	border-color: white;
}
.servicesContainer {
	width: 75%;
	text-align: center; 
	margin: 3% auto;
}
h3 {
	font-weight: bold;
	font-size: 3em; 
	font-style: italic;
	color: rgb(88,176,236);
	margin: 2.5%;
}
h2 {
	font-size: 1em; 
	margin-bottom: 2%; 
}
.service {
	width: 30%; 
	min-height: 350px;
	border: 1px solid rgb(88,176,236);
	display: inline-block;
	padding: 5%; 
	vertical-align: top;
	margin: 1%; 
}
.service p {
	font-size: .8em;
}
.learnMore {
	font-style: oblique;
	margin-top: 5%; 
}
/*Footer*/
.footer {
	width: 100%;
	background: rgb(88,176,236);
	margin: auto;
	padding-top: 5%;
	padding-bottom: 2%;
	position: relative;
	text-align: center;
}
.footer p {
	margin-top: 1%;
	color: white;
	font-size: .75em;
}
.icon {
	width: 3%;
	height: 3%;
	margin: auto;
	opacity: .8;
}
.footer ul li{
	color: white;
	font-size: 1em;
	padding: 1%;
}
.footerMenuListItem {
	display: inline;
}
.emailSubscription {
	position: absolute;
	top: -40%;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	background: rgb(235,181,26);
	text-align: center;
	padding: 1%;
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}
.emailSubscription h1 {
	font-size: 1.2em;
	color: white;
}
.emailSubscription p {
	font-size: .9em;
	color: white;
	margin: 1% auto;
}
.emailSubscription input {
	border: none;
	padding: 2%;
	height: 2.5em;
	width: 45%;
}
.subscribeButton {
	color: white;
	font-size: 1em;
	background: rgb(88,176,236);
	border: none;
	padding: 1%;
    width: 30%;
    vertical-align: middle;
}

/* WoodProject1 */
.woodMainContainer {
	margin: 4% auto;
	width: 100%;
	text-align: center;
}
.woodProjectDiv {
	width: 35%;
	height: 350px; 
	overflow: hidden;
	border: 2px solid black;
	border-radius: 1%; 
	display: inline-block;
	margin: 1%;  
}
.woodProjectDiv:hover {
	cursor: pointer;
}
.woodProjectPhoto {
	width: 100%; 
}

/*Contact Us*/
.contactContainer {
	width: 70%;
	margin: 5% auto;
	text-align: center;
}
.contactInput {
	width: 45%;
	height: 30px;
	display: block;
	padding-left: 5px; 
	margin: 3% auto;
}
.contactUsButton {
	color: white;
	background: rgb(88,176,236);
	border-radius: 2%;
	border: 1px solid rgb(88, 176,236);
	width: 30%;
	height: 30px;
}
h1 {
	font-size: 1.2em;
	color: rgba(0, 0, 0, 0.8);
}
.messageTextBox {
	min-height: 50px; 
	min-width: 45%; 
	resize: none;
	text-align: top; 	
}
/*About Us*/
.aboutUsContainer {
	text-align: justify;
	width: 65%;
	margin: 7% auto;
}
.aboutUsContainer * {
	line-height: 1.4;
}
.aboutUsContainer h1 {
	font-style: oblique;
	color: rgb(88, 176, 236);
	margin-bottom: 2%;
}
.aboutUsContainer h2 {
	margin-top: 2%;
}
input.text {
	border: 1px solid rgb(88,176,236);
}

/*Our Services*/
.pageService {
	width: 35%; 
	min-height: 500px;
	border: 1px solid rgb(88,176,236);
	display: inline-block;
	padding: 2%; 
	vertical-align: top;
	margin: 1%; 
	text-align: justify;
}
.servicesPageContainer {
	width: 90%;
	text-align: center;
	margin: 7% auto;
}
.servicesPageContainer * {
	line-height: 1.4;
}

/*Single Service Page*/
.singleServiceContainer {
	width: 70%;
	margin: 7% auto;
	text-align: center;
}
.singleServiceContainer p {
	font-size: 1em;
	margin: 1% auto;
}
.singleServiceContainer * {
	line-height: 1.4;
}
.singleServiceList {
	text-align: left;
	width: 80%;
}
.singleServiceProject {
	width: 20%;
	margin: 5% 2%;
	overflow: hidden;
	max-height: 300px;
	border: 1px solid rgb(88,176,236);
	border-radius: 5%;
	display: inline-block;
	position: relative;
}
.singleServiceProject img {
	width: 100%;
	vertical-align: middle;
}
@media only screen and (max-width: 760px) {
	.companyInfo {
	margin-left: 30%;
	}
	.topMenuBar {
	width: 80%;
	}
	.imgContainer {
		height: 400px;
	}
	.overlay {
		height: 400px;
	}
	.introText {
		font-size: 2em;
		width: 50%; 
		top: 20%;
	}
	.overlay {
		opacity: .4; 
	}
	.ctaButton {
		font-size: 1.5em; 
		top: 45%;
	}
	.mainContainer {
		padding: 1%;
		width: 80%;
		margin-bottom: 10%;
	}
	.project {
		display: block;
		width: 80%; 
		margin: auto;
		margin-bottom: 2%; 
	}
	.service {
		display: block;
		width: 100%; 
		margin: auto;
		margin-bottom: 2%; 
		min-height: 200px;
	}
	.servicesContainer {
		width: 80%;
	}
	.footer ul {
		margin-top: 3%;
	}
	.emailSubscription {
		width: 80%;
	}
	.woodProjectDiv {
		display: block;
		width: 80%;
		margin: auto; 
		margin-bottom: 2%; 
	}
	.introText-NonHomePage {
		top: 15%;
		width: 55%;
	}
	.ctaButton-NonHomePage {
		top: 40%;
		font-size: 1.5em;
	}
	.aboutUsContainer {
		margin: 15% auto;
	}
	.servicesPageContainer {
		margin-bottom: 10%;
	}
	.contactContainer {
		padding: 5%;
		margin: 10% auto;
		width: 90%;
	}
	.pageService {
		width: 80%;
	}
	.singleServiceProject {
		width: 45%;
	}
}

/* Ipad */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	.companyInfo {
		margin-left: 45%;
	}
	.imgContainer {
		height: 400px;
	}
	.imgContainer-NonHomePage {
		height: 350px;
	}
	.overlay-NonHomePage {
		height: 350px;
	}
	.overlay {
		height: 400px;
	}
	.introText {
		width: 50%; 
		top: 10%;
	}
	.ctaButton {
		top: 20%;
	}
	.mainContainer {
		padding: 1%;
		width: 90%;
		margin-bottom: 10%;
	}
	.project {
		display: block;
		width: 80%; 
		min-height: 400px;
		margin: 1% auto;
	}
	.service {
		display: block;
		width: 100%; 
		margin: 1% auto;
		min-height: 200px;
	}
	.servicesContainer {
		width: 80%;
	}
	.footer ul {
		margin-top: 2%;
	}
	.footer p {
		font-size: .5em;
	}
	.emailSubscription {
		width: 70%;
		top: -30%;
	}
	.woodProjectDiv {
		display: block;
		width: 80%;
		margin: auto; 
		margin-bottom: 2%; 
	}
	.introText-NonHomePage {
		top: 10%;
		width: 55%;
	}
	.ctaButton-NonHomePage {
		top: 20%;
		font-size: 1.5em;
	}
	.aboutUsContainer {
		width: 79%;
	}
	.servicesPageContainer {
		margin-bottom: 10%;
		width: 100%;
	}
	.contactContainer {
		padding: 5%;
		margin: 0% auto;
		width: 90%;
	}
	.pageService {
		width: 80%;
		min-height: 250px;
	}
	.singleServiceContainer {
		width: 79%;
	}
	.singleServiceProject {
		width: 45%;
	}

}

@media screen and (max-device-width: 480px) {

	.companyInfo {
	margin-left: 50%;
	}
	.imgContainer {
		height: 400px;
	}
	.overlay {
		height: 400px;
	}
	.introText {
		width: 50%; 
		top: 10%;
	}
	.ctaButton {
		top: 20%;
	}
	.mainContainer {
		padding: 1%;
		width: 90%;
		margin-bottom: 10%;
	}
	.project {
		display: block;
		width: 80%; 
		min-height: 400px;
		margin: 1% auto;
	}
	.service {
		display: block;
		width: 100%; 
		margin: 1% auto;
		min-height: 200px;
	}
	.servicesContainer {
		width: 80%;
	}
	.footer ul {
		margin-top: 2%;
	}
	.footer p {
		font-size: .5em;
	}
	.emailSubscription {
		width: 70%;
		top: -30%;
	}
	.woodProjectDiv {
		display: block;
		width: 80%;
		margin: auto; 
		margin-bottom: 2%; 
	}
	.introText-NonHomePage {
		top: 10%;
		width: 55%;
	}
	.ctaButton-NonHomePage {
		top: 18%;
		font-size: 1.5em;
	}
	.aboutUsContainer {
		margin: 15% auto;
		width: 79%;
	}
	.servicesPageContainer {
		margin-bottom: 10%;
		width: 100%;
	}
	.contactContainer {
		padding: 5%;
		margin: 10% auto;
		width: 90%;
	}
	.pageService {
		width: 80%;
	}
	.singleServiceContainer {
		width: 79%;
	}
	.singleServiceProject {
		width: 45%;
	}
}